/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 29/11/2025 13:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Anexo]    Script Date: 29/11/2025 13:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anexo](
	[id_anexo] [int] IDENTITY(1,1) NOT NULL,
	[id_chamado] [int] NOT NULL,
	[nome_arquivo] [varchar](255) NOT NULL,
	[caminho_arquivo] [varchar](500) NOT NULL,
	[data_envio] [datetime] NULL,
	[Conteudo] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_anexo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Avaliacao]    Script Date: 29/11/2025 13:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avaliacao](
	[id_avaliacao] [int] IDENTITY(1,1) NOT NULL,
	[id_chamado] [int] NOT NULL,
	[nota] [int] NOT NULL,
	[comentario] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_avaliacao] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 29/11/2025 13:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chamado]    Script Date: 29/11/2025 13:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chamado](
	[id_chamado] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[titulo] [varchar](100) NOT NULL,
	[descricao] [nvarchar](max) NOT NULL,
	[prioridade] [varchar](20) NOT NULL,
	[status_chamado] [varchar](20) NOT NULL,
	[data_abertura] [datetime] NULL,
	[data_fechamento] [datetime] NULL,
	[id_tecnico] [int] NULL,
	[id_categoria] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_chamado] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chamado_Categoria]    Script Date: 29/11/2025 13:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chamado_Categoria](
	[id_chamado] [int] NOT NULL,
	[id_categoria] [int] NOT NULL,
 CONSTRAINT [PK_Chamado_Categoria] PRIMARY KEY CLUSTERED 
(
	[id_chamado] ASC,
	[id_categoria] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IAProcessamento]    Script Date: 29/11/2025 13:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IAProcessamento](
	[id_processamento] [int] IDENTITY(1,1) NOT NULL,
	[entrada_texto] [nvarchar](max) NOT NULL,
	[saida_classificacao] [varchar](100) NULL,
	[solucao_sugerida] [nvarchar](max) NULL,
	[data_processamento] [datetime] NULL,
	[id_chamado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_processamento] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interacao]    Script Date: 29/11/2025 13:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interacao](
	[id_interacao] [int] IDENTITY(1,1) NOT NULL,
	[id_chamado] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[mensagem] [nvarchar](max) NOT NULL,
	[data_hora] [datetime] NULL,
	[origem] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_interacao] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relatorio]    Script Date: 29/11/2025 13:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relatorio](
	[id_relatorio] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](100) NOT NULL,
	[data_geracao] [datetime] NULL,
	[conteudo] [nvarchar](max) NOT NULL,
	[id_administrador] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_relatorio] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solucao_Sugerida]    Script Date: 29/11/2025 13:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solucao_Sugerida](
	[id_solucao] [int] IDENTITY(1,1) NOT NULL,
	[id_chamado] [int] NOT NULL,
	[titulo] [varchar](100) NOT NULL,
	[conteudo] [nvarchar](max) NOT NULL,
	[aceita] [bit] NULL,
	[data_criacao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_solucao] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tecnico_Categoria]    Script Date: 29/11/2025 13:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tecnico_Categoria](
	[id_tecnico] [int] NOT NULL,
	[id_categoria] [int] NOT NULL,
 CONSTRAINT [PK_Tecnico_Categoria] PRIMARY KEY CLUSTERED 
(
	[id_tecnico] ASC,
	[id_categoria] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 29/11/2025 13:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[senha] [varchar](100) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[ativo] [bit] NULL,
	[cpf] [varchar](14) NULL,
	[telefone] [varchar](15) NULL,
	[endereco] [varchar](200) NULL,
	[data_nascimento] [date] NULL,
	[codigo_verificacao] [nvarchar](6) NULL,
	[expiracao_codigo] [datetime2](7) NULL,
	[CodigoValidado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Anexo] ADD  DEFAULT (getdate()) FOR [data_envio]
GO
ALTER TABLE [dbo].[Chamado] ADD  DEFAULT (getdate()) FOR [data_abertura]
GO
ALTER TABLE [dbo].[IAProcessamento] ADD  DEFAULT (getdate()) FOR [data_processamento]
GO
ALTER TABLE [dbo].[Interacao] ADD  DEFAULT (getdate()) FOR [data_hora]
GO
ALTER TABLE [dbo].[Interacao] ADD  DEFAULT ('Cliente') FOR [origem]
GO
ALTER TABLE [dbo].[Relatorio] ADD  DEFAULT (getdate()) FOR [data_geracao]
GO
ALTER TABLE [dbo].[Solucao_Sugerida] ADD  DEFAULT ((0)) FOR [aceita]
GO
ALTER TABLE [dbo].[Solucao_Sugerida] ADD  DEFAULT (getdate()) FOR [data_criacao]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [CodigoValidado]
GO
ALTER TABLE [dbo].[Anexo]  WITH CHECK ADD  CONSTRAINT [FK_Anexo_Chamado] FOREIGN KEY([id_chamado])
REFERENCES [dbo].[Chamado] ([id_chamado])
GO
ALTER TABLE [dbo].[Anexo] CHECK CONSTRAINT [FK_Anexo_Chamado]
GO
ALTER TABLE [dbo].[Avaliacao]  WITH CHECK ADD  CONSTRAINT [FK_Avaliacao_Chamado] FOREIGN KEY([id_chamado])
REFERENCES [dbo].[Chamado] ([id_chamado])
GO
ALTER TABLE [dbo].[Avaliacao] CHECK CONSTRAINT [FK_Avaliacao_Chamado]
GO
ALTER TABLE [dbo].[Chamado]  WITH CHECK ADD  CONSTRAINT [FK_Chamado_Categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[Chamado] CHECK CONSTRAINT [FK_Chamado_Categoria]
GO
ALTER TABLE [dbo].[Chamado]  WITH CHECK ADD  CONSTRAINT [FK_Chamado_Tecnico] FOREIGN KEY([id_tecnico])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Chamado] CHECK CONSTRAINT [FK_Chamado_Tecnico]
GO
ALTER TABLE [dbo].[Chamado]  WITH CHECK ADD  CONSTRAINT [FK_Chamado_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Chamado] CHECK CONSTRAINT [FK_Chamado_Usuario]
GO
ALTER TABLE [dbo].[IAProcessamento]  WITH CHECK ADD  CONSTRAINT [FK_IA_Chamado] FOREIGN KEY([id_chamado])
REFERENCES [dbo].[Chamado] ([id_chamado])
GO
ALTER TABLE [dbo].[IAProcessamento] CHECK CONSTRAINT [FK_IA_Chamado]
GO
ALTER TABLE [dbo].[Interacao]  WITH CHECK ADD  CONSTRAINT [FK_Interacao_Chamado] FOREIGN KEY([id_chamado])
REFERENCES [dbo].[Chamado] ([id_chamado])
GO
ALTER TABLE [dbo].[Interacao] CHECK CONSTRAINT [FK_Interacao_Chamado]
GO
ALTER TABLE [dbo].[Interacao]  WITH CHECK ADD  CONSTRAINT [FK_Interacao_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Interacao] CHECK CONSTRAINT [FK_Interacao_Usuario]
GO
ALTER TABLE [dbo].[Solucao_Sugerida]  WITH CHECK ADD  CONSTRAINT [FK_Solucao_Chamado] FOREIGN KEY([id_chamado])
REFERENCES [dbo].[Chamado] ([id_chamado])
GO
ALTER TABLE [dbo].[Solucao_Sugerida] CHECK CONSTRAINT [FK_Solucao_Chamado]
GO
